.instructions-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.instructions-sidebar {
  display: flex;
  align-items: space-around;
  justify-content: center;
  // background-color: yellow;
  height: 675px;
  width: 200px;
}

.instructions-sidebar-items {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.instructions-sidebar-item {
   background-color: $green;
   height: 40px;
   width: 225px;
}

.instructions-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 675px;
  width: 1000px;
}

.instructions-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 675px;
  width: 300px;
  padding: 15px;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: .09em;
}