.challenge-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  position: sticky !important;
}
.challenge-index-list {
  display: flex;
  align-items: flex-start;
  width: 40%;
  height: 100%;
}

.challenge-collection-list {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;  
}
.category {
  position: relative;
  padding: 30px;
  width: 40%;
  border-radius: 25px;
  background-color: $green;
  cursor: pointer;
  transition: .7s;
  border-width: 10px;
  margin-top: 45px;
}
.category:hover {
    outline: none;
    background-color: $yellow;
}
.category:active, .category:focus {
    width: 60%;
    outline: none;
    background-color: $yellow;
}
.challenge-item {
  background-color: $red;
  border-width: 8px;
  margin-top: 6px;
}
.challenge-item:hover, .challenge-item:active {
    background-color: $lavender;
}
.challenge-index-page-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 90%;
}
.challenge-photo-collection {
  border: 15px solid white;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: $blue;
  height: 700px;
  width: 100%;
}
.challenge-photos {
  height: 100%;
  overflow-x: visible;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challenge-photo img {
  height: 300px;
  width: 300px;
  background-color: white;
  border: 5px inset;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  object-fit: cover;
}
.challenge-toggle {
  background-color: $yellow;
  width: 100%;
  font-weight: 900;
  letter-spacing: .1em;
}