.drop-down-trigger {
  position: relative;
  margin-right: 20px;
  margin-bottom: 9px;
}

.button-greeting {
  margin-right: 15px;
}

.header-nav-links {
  position: absolute;
  font-size: 18px;
  width: 230px;
  margin-right: 20px;
  right: 2%;
  background: $tan;
  text-align: center;
  box-shadow: 5px 10px rgba(3, 3, 3, 0.162);
  z-index: 50;
}
  
.header-nav-link-container {
  border-bottom: 2px solid $lavender;
}
.header-nav-link-container:hover {
  background-color: $blue;
}

.header-nav-link {
  color: $lavender;
  letter-spacing: .1em;
  font-size: 32px;
  font-weight: 700;
}

.header-nav-link:hover {
  color: $yellow;
}
