.header-hello {
    display: flex;
    justify-content: center;
    color: $yellow;
    font-size: 30px;
    padding-bottom: 6px;
    text-align: center;
    width: 100%;
}

.header-nav-links {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1160px;
  margin-right: 20px;
}

.header-nav-link {
    color: $lavender;
    letter-spacing: .1em;
    font-size: 32px;
    font-weight: 700;
}

.header-nav-link:hover {
    color: $yellow;
}

.header-button-container {
  display: flex;
  flex-direction: column;
}
