.create-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.create-form .one {
  left: 10%;
  top: 15%;
}

.create-form-container .card .three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
}

.create-form-header {
  position: absolute;
  font-size: 90px;
  text-align: center;
  z-index: 100;
  transform: translate(280%, -17%);
}

.create-form-title-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.create-form-title-container .input-field {
  width: 100%;
  height: 50px;
  margin-top: -25px;
  border-radius: 7px;
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

.create-form-title-container .input-field:focus {
  outline: none;
}

.create-form-input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.create-form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 75%;
}

.create-form-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 25%;
  height: 111%;
  background-color: $yellow;
  border-radius: 25px;
}

.create-form-img-preview {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
  width: 75%;
  object-fit: cover;
  position: relative;
}

.hunt-photo img{
  width: 320px;
  height: 320px;
  margin-bottom: 6px;
  border-radius: 20px;
  border: 5px inset;
}

.red-ex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 96%;
  z-index: 50 !important;
}

.red-ex svg {
  color: red;
}

.create-form-body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.create-form-drop-zone {
  text-align: center;
  height: 40vh;
  width: 100%;
  background-color: $red;
  opacity: .6;
  border-radius: 25px;
}

.create-form-drop-zone:hover {
  background-color: $green;
  opacity: 1;
}

.create-form-submission-errors ul li, .create-form-drop-zone-error {
  color: red;
}

.drop-zone {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 33px;
}

.drop-zone-target {
  border: 4px dashed rgba($color: #ffffff, $alpha: .7);
  border-width: 6px;
  border-spacing: px;
  border-radius: 20px;
  padding: 66px;
}

.create-form-body-right-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.create-form-categories {
  margin-top: 5px;
  display: flex;
  flex-flow: wrap;
  width: 140px;
}

.create-form-categories button{
  margin: 2px;
  width: 64px;
  background-color: $lavender;
  letter-spacing: .1em;
}

.create-form-categories button:hover,
.create-form-categories button:enabled,
.create-form-categories button:active{
  background-color: $green;
}

.create-form-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-form-submit{
  border: none;
}