.create-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.create-form .one {
  left: 3%;
  top: 15%;
}

.create-form .two {
  left: 7%;
  top: 14%;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width:1100px;
  position: absolute;
  border-radius: 25px;
  border: 20px solid rgba(255, 255, 255, 0.943); 
  box-shadow: 5px 10px rgba(3, 3, 3, 0.162);
  top: 7%;
  left: 30%;
}

// .create-form-header {
//   position: absolute;
//   font-size: 90px;
//   text-align: center;
//   z-index: 100;
//   left: 39%;
//   // transform: translate(142%, -17%);
// }

.create-form-title-container {
  display: flex;
  justify-content: flex-start;
  width: 72%;
}

.create-form-title-container .input-field {
  width: 88%;
  height: 50px;
  margin-top: -25px;
  border-radius: 7px;
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

.create-form-title-container .input-field:focus {
  outline: none;
}

.create-form-input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.create-form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 75%;
}

.create-form-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 290px;
  height: 460px;
  background-color: $yellow;
  border-radius: 25px;
}

.create-form-img-preview {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
  width: 75%;
  object-fit: cover;
  position: relative;
}

.hunt-photo img{
  width: 200px;
  height: 200px;
  margin-bottom: 6px;
  border-radius: 20px;
  border: 5px inset;
}

.red-ex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 99%;
  z-index: 50 !important;
}

.red-ex svg {
  color: red;
}

.create-form-body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 55%;
  height: 430px;
}

.create-form-drop-zone {
  text-align: center;
  height: 200px;
  width: 100%;
  background-color: $red;
  opacity: .6;
  border-radius: 25px;
}

.create-form-drop-zone:hover {
  background-color: $green;
  opacity: 1;
}

.drop-zone {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 33px;
}

.drop-zone-target {
  border: 4px dashed rgba($color: #ffffff, $alpha: .7);
  border-width: 6px;
  border-radius: 20px;
  padding: 50px;
}

.create-form-body-right-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-category {
  box-sizing: border-box;
  margin-top: 7px;
  height: 90px;
  width: 45%;
  color: $yellow;
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: .12em;
}

.current-category-title {
  color: $green;
  opacity: 1.6;
}

.create-form-categories {
  margin-top: 5px;
  display: flex;
  flex-flow: wrap;
  width: 200px;
}

.create-form-categories button {
  margin: 2px;
  width: 64px;
  background-color: $lavender;
  letter-spacing: .1em;
}

.create-form-categories button:hover,
.create-form-categories button:active,
.create-form-categories button::selection{
  background-color: $green;
}

.create-form-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-form-submit {
  box-sizing: border-box;
  font-size: 21.2px;
  font-weight: 1000;
  letter-spacing: .1em;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 89px;
  width: 120Tpx;
  opacity: .9;
}

.create-form-submit:hover {
  background-color: $green;
  opacity: 1.2;
}


.create-form-submission-errors {
  box-sizing: border-box;
  position: absolute;
  background-color: $lavender;
  color: $red;
  height: 340px;
  width: 340px;
  top: 5%;
  left: 9.8%;
  z-index: 10;
  transform: rotate(18deg);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 20px;
  list-style: disc;
}

.create-form-drop-zone-error{
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  position:absolute;
  left: 82.8%;
  top: 5%;
  z-index: 20;
  background-color: $lavender;
  height: 193px;
  width: 278px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: .1em;
  color: $red;
  transform: rotate(9deg)
}