.hunts-index-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $tan;
  height: 88%;
  width: 100%;
}

.hunts-index-page-right-active{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 69%;
  height: 95%;
}

.hunts-index-list-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 90%;
  border: 15px solid white;
  background-color: $blue;
}

.hunts-collection-list-active {
  // display: flex;
  // flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-evenly;
  // align-items: center;
  width: 87%;
  height: 90%;
  background-color: orange;
  // z-index: 200;
}

.mini-cards-active {
  box-sizing: border-box;
  height: 100px;
  width: 120px;
  // margin-bottom: 70px;
  background-color: yellow;
}

.hunt-photo-collection-active {
  border: 15px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: $red;
  border-radius: 25px;
  height: 90%;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: .1em;
}

.hunt-photo-collection-images-container{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  height: 100%;
  width: 100%;
}

.my-hunts-image {
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  margin: 7px;
  border-radius: 25px;
  border: 5px;
}

.hunts-index-create-active {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  width: 100%;
}

.create-a-hunt-link-active {
  width: 100%;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: .2em;
}

.hunts-index-create-link {
  width: 100%;
}

.create-a-hunt-link-active:focus,
.create-a-hunt-link-active:active{
  outline: none;
  color: rgba(31, 31, 31, 0.61);
}

.empty-index-link-active {
  color: whitesmoke;
  opacity: .75;
  letter-spacing: .4;
  transition: .2s;
}

.empty-index-link-active:hover {
  text-decoration: underline;
  letter-spacing: .15em;
}