.app {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $tan;
  // overflow-x: scroll;
  // overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  width: 100%;
  min-height: 95px;
  letter-spacing: .23em;
  margin-bottom: 2px;
  overflow-x: scroll;
}

.header-logo {
  color: $yellow;
  font-size: 70px;
  font-weight: 600;
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lavender;
  height: 200px;
  width: 100%;
  height: 5%;
  align-self: flex-end;
}

.footer-headline {
  margin-left: 20px;
  font-family: 'Abel', sans-serif;
}

.footer-copyright {
  margin-right: 20px;
  font-family: 'Abel', sans-serif;
}