.team-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.member-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 660px;
}

.team-image {
  height: 200px;
  width: 200px;
  border: 5px inset;
  border-radius: 25px;
}

.team-about {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  width: 200px;
  align-items: flex-start;
}